# Flutter/Dart/Pub related
App/.dart_tool/
App/.packages
App/.pub-cache/
App/.pub/
App/.flutter-plugins
App/.flutter-plugins-dependencies
App/build/
App/**/doc/api/

# Android build artifacts
App/android/app/build/
App/android/.gradle/
App/android/.idea/
App/android/captures/
App/android/local.properties

# iOS build artifacts
App/ios/Flutter/Flutter.framework
App/ios/Flutter/Flutter.podspec
App/ios/Flutter/Generated.xcconfig
App/ios/Flutter/.last_build_id
App/ios/Pods/
App/ios/Runner.xcworkspace/
App/ios/Flutter/FlutterPluginRegistrant/

# IntelliJ / VS Code
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Misc
*.log
*.swp
*.class
*.pyc
.DS_Store
*.lock

# Optional: coverage & testing
App/coverage/
